<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.txxia.demos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.txxia.demos.launcher.MainActivity"
            android:label="Android Hook Demos"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.txxia.demos.launcher.MainActivityAlias"
            android:label="DemosAH">
        </activity>
        <!-- name不能个tagrgetActivity得值不能相同，否则安装会有问题，小米手机提示用户拒绝 -->
        <activity-alias
            android:name="com.txxia.demos.launcher.MainActivity1"
            android:targetActivity="com.txxia.demos.launcher.MainActivityAlias"
            android:label="Hooked Launcher"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_hook"
            android:roundIcon="@mipmap/ic_launcher_hook_round"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.txxia.demos.signaturehook.SignatureHookActivity"
            android:theme="@style/AppTheme"
            android:label="签名Hook"/>
        <activity
            android:name="com.txxia.demos.jni.JniActivity"
            android:theme="@style/AppTheme"
            android:label="JNI"/>
    </application>

</manifest>